@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inter', sans-serif;
}

.container {
    @apply max-w-full px-3 md:px-0 md:w-10/12 mx-auto
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-color: azure;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black !important;
    font-size: 21px !important;
    font-weight: 900;
}

.bg-space {
    background-image: url('https://i.ibb.co/gvZJZGM/8791930.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.react-tabs__tab-list{
text-align: center;
gap: 2px;
flex-direction: row;
display: flex;
justify-content:  center;
align-items: center;
}
.react-tabs__tab--selected{
    background-color: transparent !important;
}

.react-tabs__tab{

margin-right: 5px;
border: 0 !important;
padding: 0 !important;
color: white;
}


.alltoybg {
    background-image: url("https://i.ibb.co/dWxWbzX/pngwing-com-14-1.png"), url("https://i.ibb.co/vqQSKcG/pngwing-com-12-1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right top;
    background-size: 200px 200px, 300px 200px;
}

.bg-home {
    background-image: url("https://i.ibb.co/vqQSKcG/pngwing-com-12-1.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px 300px;
}
.bg-category {
    background-image: url("https://i.ibb.co/JxtCvJk/spider-man-5998998-1-1.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px 300px;
}
.bg-details-card {
    background-image: url('https://i.ibb.co/8Y12ngH/pngwing-com-15-1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 200px 300px;
}
.bg-login {
    background-image: url('https://i.ibb.co/hcRdvF4/pngwing-com-11-1.png'),url("https://i.ibb.co/QKRTpQQ/pngwing-com-13-1.png");
    background-repeat: no-repeat,no-repeat;
    background-position: left bottom,right;
    background-size: contain, 300px ;
}


.bg-my-toy{
    background-image: url("https://i.ibb.co/8Y12ngH/pngwing-com-15-1.png"), url("https://i.ibb.co/QKRTpQQ/pngwing-com-13-1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right top;
    background-size: 250px 300px, 300px 400px;
}

.bg-galley {
    background-image: url("https://i.ibb.co/ZYGNfVy/Bat-PNG-Photo-Image.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 200px 200px;
}


.lg-react-element {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 26px;
}

.bg-layout{
    background-image:   url('./assets//bg-shape//body-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn{
    @apply bg-gradient-to-r px-10 from-purple-400 shadow-xl to-indigo-500 rounded-3xl  rounded-bl-none rounded-tr-none
}

.divider:before, .divider:after{
    background-color: white;
}
@media only screen and (max-width: 425px){
	.lg-react-element {
      
        grid-template-columns: repeat(1,1fr);
        gap: 26px;
    }
    .alltoybg{
        background-size: 80px 100px, 100px 100px;

    }
    .bg-my-toy{
        background-size: 120px 200px, 80px 120px;
    }
    .bg-category {
       
        background-size: 100px 100px;
    }
    .bg-home{
        background-size: 100px 100px;
    }
    .react-tabs__tab-list{
        flex-direction: column;
    }
    
}