@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Inter', sans-serif;
}

.container {
    @apply max-w-full px-3 md:px-0 md:w-10/12 mx-auto
}

.swiper-button-next,
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-color: azure;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black !important;
    font-size: 21px !important;
    font-weight: 900;
}

.bg-space {
    background-image: url('https://i.ibb.co/gvZJZGM/8791930.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.react-tabs__tab-list{
text-align: center;
}

.react-tabs__tab{
background-color: white;
margin-right: 5px;
border-radius: 8px 8px 0  0;
}


.alltoybg {
    background-image: url("https://i.ibb.co/dWxWbzX/pngwing-com-14-1.png"), url("https://i.ibb.co/vqQSKcG/pngwing-com-12-1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right top;
    background-size: 200px 200px, 300px 200px;
}

.bg-home {
    background-image: url("https://i.ibb.co/vqQSKcG/pngwing-com-12-1.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px 300px;
}
.bg-category {
    background-image: url("https://i.ibb.co/JxtCvJk/spider-man-5998998-1-1.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px 300px;
}
.bg-details-card {
    background-image: url('https://i.ibb.co/8Y12ngH/pngwing-com-15-1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 200px 300px;
}
.bg-login {
    background-image: url('https://i.ibb.co/hcRdvF4/pngwing-com-11-1.png'),url("https://i.ibb.co/QKRTpQQ/pngwing-com-13-1.png");
    background-repeat: no-repeat,no-repeat;
    background-position: left bottom,right;
    background-size: contain, 300px ;
}


.bg-my-toy{
    background-image: url("https://i.ibb.co/8Y12ngH/pngwing-com-15-1.png"), url("https://i.ibb.co/QKRTpQQ/pngwing-com-13-1.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right bottom;
    background-size: 250px 300px, 300px 400px;
}

.bg-galley {
    background-image: url("https://i.ibb.co/ZYGNfVy/Bat-PNG-Photo-Image.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px 200px;
}


.lg-react-element {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 26px;
}

@media only screen and (max-width: 425px){
	.lg-react-element {
      
        grid-template-columns: repeat(1,1fr);
        gap: 26px;
    }
    
}